/* *{
    margin:0 ;
    padding: 0;
    background-color:#87CEEB ;
}
h1{
    text-align: center;
}
.edit{
    display: flex;
    
}
img{
    height: 50px;
    width: 50px;
}
.GuideEdit{
    height: 500px;
    width: 500px;
    background-color: white;
    margin-left: 20px;
    
}
#name{
    background-color: white;
} */

 

/* body {
    margin: 0;
    padding: 0;
    background-color: skyblue;
    font-family: Arial, sans-serif;
  }
  
  .form-container {
    background-color: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: transparent; /* Remove background color */
    /* border: 1px solid #ccc; 
  }
  
  .form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-weight: bold;
  } */


.guideContainer{
    background-color: #87CEEB;
    height: 480px;
    width: 600px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
  }

button{
    margin-left: 200px;
    border-radius: 20px;
}
.guideImage{
    height: 80px;
    width: 80px;
    margin-left: 50px;
    border-radius: 10px;
}
.guideMiniContainer{
    display: flex;
    
}